@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'ALGERIAN', sans-serif; 
  color: rgb(3, 3, 3);
}

.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 5px solid rgb(231, 12, 12);
  border-radius: 9px;
  cursor: pointer;
  color: rgb(36, 25, 191);
  font-size: 15px;
  font-weight: 900;
  background-color: rgb(255, 218, 207);
}

.row{
  margin: 8px 0;
  color: rgb(41, 114, 114);
}
.row input{
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    color: black;
}