.text-center{
    text-align: center;
  }
  .bodybg{
    background:url('./cal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .mx-auto{
    margin: auto;
  }
  
  .flex{
    display:flex;
  } 
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }
